body {
    //background-image: url("img/pots.jpg");
    background-position: top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 400%; 
    color: coral;   
    text-align: center;
    
}

h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: #ffff;   
    text-align: center;
}

h4{ 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color:coral;    
    width: 10%%;
    position: absolute;
    margin-left: -5%;
    left: 20%;
    top: -7.5%;
}

.Ideology{
    width: 40%;
    height:10%;
    border-style: solid;
    border-width: 2px;
    border-color: coral;
    position: absolute;
    left: 50%;
    margin-left: -20%;
}

.IdeologyDescription{
    text-align: left;
    font-size: 100%%;
    color:coral; 
    width: 40%;
    height:10%;
    position: absolute;
    margin-left: -10%;
    left: 25%;
    top: 12.5%;
}

.Symbol{
    position: absolute;
    width: 12.5%;
    height: auto;    
    left:6.5%;   
    top: -1%;
    margin-left: -5%;
}


#Non-Monetary{
    top: 10%;
}

#Classless{
     top: 22%;
}

#Decentralized{
    top: 34%;
}

#Meritism{
    top: 46%;
}

#Basic-Needs{
    top: 58%;
}
