body {
    background-image: url("img/pots.jpg");
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:72px; 
    color: #ffff;   
    text-align: center;
    border: 0px;
}
h2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    color: #ffff;   
    text-align: center;
}
p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px; 
    color: #ffff;   
    text-align: center;
}

#initial{
    position: absolute;
    top: 35%;
}

#explanation{
    position: absolute;
    top: 60%; 
}

#logo{
    position: absolute:
    top: 35%;
    width: 10%;
    height:auto;
    left: 20%;

}